@keyframes timer-progress {
    0% {
        width: 0%;
        background-color: green;
    }
    25% {
        background-color: greenyellow;
    }
    50% {
        background-color: yellow;
    }
    75% {
        background-color: orange;
    }
    100% {
        width: 100%;
        background-color: red;
    }
}
.timer-bg {
    padding: 8px;
    background-color: lightgrey;
    border-radius: 8px;
}
.timer {
    padding: 8px;
    background-color: transparent;
    background-color: green;
    animation: timer-progress 30s ease-in-out 1 forwards;
    border-radius: 8px;
    position: relative;
    bottom: 16px;
}
